
.parallax-container {
  height: 500px;
}

/* #map {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col.s5 {
    padding: 20px;
}

.col.s6 {
    display: flex;
    justify-content: center;
    align-items: center;
} */
